<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <nav id="navbar">
      <ul>
        <li><a {% if page.title == "home" %}class="active" {% endif %}href="index.html">Home</a></li>
        <li><a {% if page.title == "people" %}class="active" {% endif %}href="people.html">People</a></li>
        <li><a {% if page.title == "alumni" %}class="active" {% endif %}href="alumni.html">Alumni</a></li>
        <li><a {% if page.title == "publications" %}class="active" {% endif %}href="publications.html">Publications</a></li>
        <li><a {% if page.title == "tools" %}class="active" {% endif %}href="tools.html">Tools</a></li>
      </ul>
      <div style="clear:left;"></div>
    </nav>
    <header class="page-header" role="banner">
      <h1 class="project-name"><a href="{{ "/" | absolute_url }}"><img src="img/logo_header.png"></img></a></h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    </header>

    {% if page.highlight %}
      <div id="content-high">
        <div>{{ page.highlight}}</div>
      </div>
    {% else %}
      {% if page.title %}
        <div id="content-title">{{ page.title | capitalize }}&nbsp;</div>
      {% endif %}
    {% endif %}
    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>

    <footer class="site-footer">
      <div class="su-global-footer su-global-footer--dark", style="text-align:left">
        <div class="su-global-footer__container" title="Common Stanford resources">
          <div class="su-global-footer__brand">
            <a class="su-logo su-global-footer--dark" href="https://www.stanford.edu", style="line-height:0.5;font-family:Stanford,\"Source Serif Pro\",Georgia,Times,Times New Roman,serif">
              <span style="font-size:2.4rem">Stanford</span>
              <br />
              <span style="font-size:1.4rem">University</span>
            </a>
          </div>
          <div class="su-global-footer__content", style="line-height:.75">
            <nav aria-label="global footer menu">
              <ul class="su-global-footer__menu su-global-footer__menu--global">
                <li>
                  <a href="https://www.stanford.edu", style="font-family:Rubik;font-size:1rem">
                    <b>Stanford Home</b>
                  </a>
                </li>
                <li>
                  <a href="https://visit.stanford.edu/plan/", style="font-family:Rubik;font-size:1rem">
                    <b>Maps &amp; Directions</b>
                  </a>
                </li>
                <li>
                  <a href="https://www.stanford.edu/search/", style="font-family:Rubik;font-size:1rem">
                    <b>Search Stanford</b>
                  </a>
                </li>
                <li>
                  <a href="https://emergency.stanford.edu", style="font-family:Rubik;font-size:1rem">
                   <b>Emergency Info</b>
                  </a>
                </li>
              </ul>
              <ul class="su-global-footer__menu su-global-footer__menu--policy">
                <li>
                  <a href="https://www.stanford.edu/site/terms/" title="Terms of use for sites", style="font-family:Rubik;font-size:1rem">
                    Terms of Use
                  </a>
                </li>
                <li>
                  <a href="https://www.stanford.edu/site/privacy/" title="Privacy and cookie policy", style="font-family:Rubik;font-size:1rem">
                    Privacy
                  </a>
                </li>
                <li>
                  <a href="https://uit.stanford.edu/security/copyright-infringement" title="Report alleged copyright infringement", style="font-family:Rubik;font-size:1rem">
                    Copyright
                  </a>
                </li>
                <li>
                  <a href="https://adminguide.stanford.edu/chapter-1/subchapter-5/policy-1-5-4" title="Ownership and use of Stanford trademarks and images", style="font-family:Rubik;font-size:1rem">
                    Trademarks
                  </a>
                </li>
                <li>
                  <a href="http://exploredegrees.stanford.edu/nonacademicregulations/nondiscrimination/" title="Non-discrimination policy", style="font-family:Rubik;font-size:1rem">
                    Non-Discrimination
                  </a>
                </li>
                <li>
                  <a href="https://www.stanford.edu/site/accessibility" title="Report web accessibility issues", style="font-family:Rubik;font-size:1rem">
                    Accessibility
                  </a>
                </li>
              </ul>
            </nav>
            <div class="su-global-footer__copyright", style="font-family:Rubik;font-size:.8rem">
              <span>&copy; Stanford University.</span>
              <span>&nbsp; Stanford, California 94305.</span>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
